<div th:include="/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<div class="articleContant" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="wrapper row">
        <div class="col-md-2"></div>
        <div class="col-md-8 row articleShow">
            <h1>Archives</h1>
            <hr>
            <div th:each="vo:${vos}">
                <h2 th:text="${vo.date}"></h2>
                <ul>
                    <li th:each="archive:${vo.list}"><a href="/article/${archive.articleId}" th:text="${archive.articleTitle}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:include="/footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>
