<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:include="/header"></div>
  <div class="contant">
    <div class="wrapper row">
      <div class="col-md-1"></div>
      <div class="col-md-10 row">
        <div class="col-md-9 leftSection">
          <ul class="articles">
            <li class="blogAticle" th:each="vo:${vos}" th:with="article=${vo.get('article')}">
              <div class="articleHeader">
                <p><a th:href="@{'/article/'+${article.id}}" th:text="${article.title}"></a></p>
              </div>
              <div class="articleContent">
                <p th:text="${article.describes}"></p>
              </div>
              <div class="articleFooter">
                <ul>
                  <li><i class="fa fa-calendar fa-1x" aria-hidden="true"></i><span th:text="${#dates.format(article.createdDate,'yyyy-MM-dd')}"></span></li>
                  <li><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${clickCount}"></span></li>
                  <li><i class="fa fa-list fa-1x" aria-hidden="true"></i><span th:text="${article.category}"></span></li>
                  <li><i class="fa fa-tags fa-1x" aria-hidden="true"></i>
                    <span th:each="tag:${tags}" th:text="${tag.name}"></span>
                  </li>
                  <li class="readMore"><a th:href="@{'/article/'+${article.id}}">read more</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="paginationWapper">
            <ul class="pagination">
              <li th:if="${pagination.get('current')} gt 1">
                <a th:href="@{'/category/'+${category}+'?pageId='+$!{pagination.prePage}">&laquo;</a>
              </li>
              <li class="disabled">
                <a href="">&laquo;</a>
              </li>
              <li><a href="" th:text="${pagination.get('current')}/${pagination.get('lastPage')}"></a></li>
              <li th:if="${pagination.get('current')} lt ${pagination.get('lastPage')}">
                <a th:href="@{'/category/'+${category}+'?pageId='+${pagination.get('nextPage')}}">&raquo;</a>
              </li>
              <li class="disabled">
                <a href="">&raquo;</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 rightSection">
          <div class="side categories">
            <div class="header"><i class="fa fa-list-ul" aria-hidden="true"></i><span>Categories</span></div>
            <ul>
              <li><a href="/category/Java?pageId=1">Java</a><span th:text="'('+${categoryCount.get('Java')}+')'"></span></li>
              <li><a href="/category/Web?pageId=1">Web</a><span th:text="'('+${categoryCount.get('Web')}+')'"></span></li>
              <li><a href="/category/Linux?pageId=1">Linux</a><span th:text="'('+${categoryCount.get('Linux')}+')'"></span></li>
              <li><a href="/category/分布式系统?pageId=1">分布式系统</a><span th:text="'('+${categoryCount.get('Distributed')}+')'"></span></li>
              <li><a href="/category/数据库?pageId=1">数据库</a><span th:text="'('+${categoryCount.get('Database')}+')'"></span></li>
              <li><a href="/category/算法?pageId=1">算法</a><span th:text="'('+${categoryCount.get('Algorithm')}+')'"></span></li>
              <li><a href="/category/其它?pageId=1">其它</a><span th:text="'('+${categoryCount.get('Other')}+')'"></span></li>
            </ul>
          </div>
          <div class="side tags">
            <div class="header"><i class="fa fa-tags" aria-hidden="true"></i><span>Tags</span></div>
            <div id="tagCloud">
              <a th:each="tag:${tags}" th:href="@{'/tag/'+${tag.id}+'?pageId=1'}" rel="${tag.count}" th:text="${tag.name}"></a>
            </div>
          </div>
          <div class="side hotArticles">
            <div class="header"><i class="fa fa-file-text" aria-hidden="true"></i><span>HotArticles</span></div>
            <ul th:each="hotArticle:${hotArticles}" th:with="str=${hotArticle.title}">
              <li th:if="${str.length()} gt 19" th:with="str=${str.subString(0,19)}"><a th:href="@{'/article/'+${hotArticle.id}}" th:text="${str...}"></a></li>
              <li th:unless="${str.length()} gt 19"><a th:href="@{'/article/'+${hotArticle.id}}" th:text="${str}"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<div th:include="/footer" ></div>
</html>