<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:include="header"></div>
  <div class="contant">
    <div class="wrapper row">
      <div class="col-md-1"></div>
      <div class="col-md-10 row">
        <div class="col-md-9 leftSection">
          <ul class="articles">
            <tr th:each="vo:${vos}">
              <li class="blogAticle" th:with="article=${vo.get('article')}">
                <div class="articleHeader">
                  <p><a th:text="${article.title}" th:href="@{'/article/'+${article.id}}" ></a></p>
                </div>
                <div class="articleContent"><p th:text="${article.describes}"></p>
                </div>
                <div class="articleFooter">
                  <ul>
                    <li><i class="fa fa-calendar" aria-hidden="true"></i><span th:text="${#dates.format(article.createdDate,'yyyy-MM-dd')}"></span></li>
                    <li><i class="fa fa-eye" aria-hidden="true"></i><span th:text="${clickCount}"></span></li>
                    <li><i class="fa fa-list" aria-hidden="true"></i><span th:text="${article.category}"></span></li>
                    <li><i class="fa fa-tags" aria-hidden="true"></i><span th:each="tag:${tags}" th:text="${tag.name}"></span>
                    </li>
                    <li class="readMore"><a th:href="@{'/article/'+${article.id}}">read more</a></li>
                  </ul>
                </div>
              </li>
            </tr>
          </ul>
          <div class="paginationWapper">
            <ul class="pagination">
              <li th:if="${pagination.get('current')} gt 1">
                <a th:href="@'/page/'+${pagination.prePage}}">&laquo;</a>
              </li>
              <li class="disabled" th:unless="${pagination.get('current')} gt 1">
                <a href="">&laquo;</a>
              </li>
              <li><a href="" th:text="${pagination.get('current')}/${pagination.get('current')}"></a></li>
              <li th:if="${pagination.get('current')} lt ${pagination.get('lastPage')}">
                <a th:href="@{'/page/'+${pagination.nextPage}}">&raquo;</a>
              </li>
              <li class="disabled" th:unless="${pagination.get('current')} lt ${pagination.get('lastPage')}">
                <a href="">&raquo;</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 rightSection">
          <div class="side categories">
            <div class="header"><i class="fa fa-list-ul" aria-hidden="true"></i><span>Categories</span></div>
            <ul>
              <li><a href="/category/Java?pageId=1">Java</a><span th:text="'('+${categoryCount.get('Java')}+')'"></span></li>
              <li><a href="/category/Web?pageId=1">Web</a><span th:text="'('+${categoryCount.get('Web')}+')'"></span></li>
              <li><a href="/category/Linux?pageId=1">Linux</a><span th:text="'('+${categoryCount.get('Linux')}+')'"></span></li>
              <li><a href="/category/分布式系统?pageId=1">分布式系统</a><span th:text="'('+${categoryCount.get('Distributed')}+')'"></span></li>
              <li><a href="/category/数据库?pageId=1">数据库</a><span th:text="'('+${categoryCount.get('Database')}+')'"></span></li>
              <li><a href="/category/算法?pageId=1">算法</a><span th:text="'('+${categoryCount.get('Algorithm')}+')'"></span></li>
              <li><a href="/category/其它?pageId=1">其它</a><span th:text="'('+${categoryCount.get('Other')}+')'"></span></li>
            </ul>
          </div>
          <div class="side tags">
            <div class="header"><i class="fa fa-tags" aria-hidden="true"></i><span>Tags</span></div>
            <div id="tagCloud">
              <div th:each="tag:${tags}">
              <a th:href="@{'/tag/'+${tag.id}+'?pageId=1'}" rel="${tag.count}" th:text="${tag.name}"></a>
              </div>
            </div>
          </div>
          <div class="side hotArticles">
            <div class="header"><i class="fa fa-file-text" aria-hidden="true"></i><span>HotArticles</span></div>
            <ul>
              <div th:each="hotArticle:${hotArticles}">
                <div th:with="str=${hotArticle.title}">
                <div th:if="${str.length()} gt 19"  >
                  <div th:with="str=${str.substring(0,19)}">
                  <li><a th:href="@{'/article/'+${hotArticle.id}}" th:text="${str}"></a></li>
                  </div>
                </div>
                <div th:unless="${str.length()} gt 19"    >
                  <li><a th:href="@{'/article/'+${hotArticle.id}}" th:text="${str}"></a></li>
                </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<div th:include="footer"></div>
</html>